<%= form_for :question, url: questions_path do |f| %>
  <%= f.label :title %>
  <div><%= f.text_field :title %></div>
  <%= f.label :content %>
  <div><%= f.text_area :content %></div>
  <%= f.submit %>
<% end %>
