<%= link_to 'Add a Question', new_question_path %>

<h1>All Questions</h1>
<%= render 'all' %>

<h1>Most Recent</h1>
<%= render 'most_recent' %>

<h1>Trending</h1>
<%= render 'trending' %>

<h1>Highest Voted</h1>
<%= render 'highest_voted' %>
