<div class="row">
  <div class="col-md-4 col-md-offset-4 text-left">
    <div class="login-form">
      <%= form_for :session, url: sessions_path do |f| %>
        <ul class="no-list-style">
          <li><%= f.label :username, class: "form-field" %></li>
          <li><%= f.text_field :username, class: "form-field" %></li>
          <li><%= f.label :password, class: "form-field" %></li>
          <li><%= f.password_field :password, class: "form-field" %></li>
        </ul>

        <div class="col-md-7 more-login-options text-left">
          <%= link_to "more login options", '#' %>
        </div>

        <div class="col-md-5 text-right">
          <%= submit_tag "Log in", class: "login-register-button white" %>
        </div>

      <% end %>
    </div>
  </div>
</div>