<strong class="white">CULTURE/ RECREATION</strong>
<br>
<br>
<div class="col-md-12 no-padding">
  <ul class="no-list-style no-padding">
    <li class="footer-nav-2-links"><%= link_to "English Language & Usage", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Skeptics", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Mi Yodeya (Jusaism)", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Travel", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Christianity", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Arqade (gaming)", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Bicycles", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Role-playing Games", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "more(21)", '#', class: "link footer-nav-2" %></li>
  </ul>
</div>
