<strong class="white">LIFE/ARTS</strong>
<br>
<br>
<div class="col-md-12 no-padding">
  <ul class="no-list-style">
    <li class="footer-nav-2-links"><%= link_to "Photography", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Science Fiction & Fantasy", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Graphic Design", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Movies & TV", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Seasoned Advice (cooking)", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Home Improvement", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Personal Finance & Money", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Academia", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "more (9)", '#', class: "link footer-nav-2" %></li>
  </ul>
</div>
