<ul class="no-list-style-type no-padding">
  <li class="inline footer-nav-1-links"><%= link_to "tour", '#', class: "link footer-nav-1" %></li>
  <li class="inline footer-nav-1-links"><%= link_to "help", '#', class: "link footer-nav-1" %></li>
  <li class="inline footer-nav-1-links"><%= link_to "blog", '#', class: "link footer-nav-1" %></li>
  <li class="inline footer-nav-1-links"><%= link_to "chat", '#', class: "link footer-nav-1" %></li>
  <li class="inline footer-nav-1-links"><%= link_to "data", '#', class: "link footer-nav-1" %></li>
  <li class="inline footer-nav-1-links"><%= link_to "legal", '#', class: "link footer-nav-1" %></li>
  <li class="inline footer-nav-1-links"><%= link_to "privacy policy", '#', class: "link footer-nav-1" %></li>
  <li class="inline footer-nav-1-links"><%= link_to "work here", '#', class: "link footer-nav-1" %></li>
  <li class="inline footer-nav-1-links"><%= link_to "adsvertising info", '#', class: "link footer-nav-1" %></li>
  <li class="inline footer-nav-1-links"><%= link_to "mobile", '#', class: "link footer-nav-1" %></li>
  <li class="inline footer-nav-1-links"><%= link_to "contact us", '#', class: "link footer-nav-1" %></li>
  <li class="inline footer-nav-1-links"><%= link_to "feedback", '#', class: "link footer-nav-1" %></li>
</ul>
