<strong class="white">SCIENCE</strong>
<br>
<br>
<div class="col-md-12 no-padding">
  <ul class="no-list-style no-padding">
    <li class="footer-nav-2-links"><%= link_to "Mathematics", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Cross Validated (stats)", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Theoretical Computer Science", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Physics", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "MathOverflow", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Chemistry", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Biology", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "more(5)", '#', class: "link footer-nav-2" %></li>
  </ul>
</div>
