<strong class="white">TECHNOLOGY</strong>
<br>
<br>
<div class="col-md-4 no-padding">
  <ul class="no-list-style">
    <li class="footer-nav-2-links"><%= link_to "Smack Overflow", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Server Fault", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Super User", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Web Applications", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Ask Ubuntu", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Webmasters", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Game Development", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "TeX-LaTeX", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "feedback", '#', class: "link footer-nav-2" %></li>
  </ul>
</div>

<div class="col-md-4">
  <ul class="no-list-style">
    <li class="footer-nav-2-links"><%= link_to "Programmers", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Unix & Linux", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Ask Different(Apple)", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "WordPress Development", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Geographic Information Systems", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Electrical Engineering", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Android Enthusiasts", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Information Security", '#', class: "link footer-nav-2" %></li>
  </ul>
</div>

<div class="col-md-4">
  <ul class="no-list-style">
    <li class="footer-nav-2-links"><%= link_to "Database Adminstrators", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Drupal Answers", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "SharePoint", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "User Experience", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Mathematica", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Salesforce", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "ExpressionEngine® Answers", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "more(13)", '#', class: "link footer-nav-2" %></li>
  </ul>
</div>