<div class="row static-width main-content-container">

  <div class="col-md-7 col-md-offset-1">
    <%= render partial: 'layouts/errors', locals: { element: @answer } %>
    
    <ul class="no-list-style no-padding">
      <%= form_for :answer, url: question_answers_path do |t| %>
        <li><%= t.label :answer, class: "form-field" %></li>
        <li><%= t.text_area :content, class: "form-field content-field" %></li>
        <li><%= submit_tag("Post Your Answer", class: "form-button") %></li>
      <% end %>
    </ul>
    
  </div>

  <div class="col-md-3">
    <div class="col-md-12 question-meta">
      <h1 class="question-meta-header">How to Ask</h1>
      <strong>Is your question about programming?</strong>
      <p>We prefer questions that can be answered, not just discussed.</p>
      <p>Provide details. Share your research.</p>
      <p>If your question is about this website, <span class="primary-blue">ask it on meta</span> instead.</p>
    </div>

    <div class="col-md-12 question-meta">
      <h1 class="question-meta-header">How to Format</h1>
      <h2 class="question-meta-sub-header">Our form fields now support Markdown!</h2>
      <ul class="question-meta-markdown-tips">
        <li>_italic_ or **bold**</li>
        <li>put returns between paragraphs</li>
        <li>use ``` followed by language to enter code blocks</li>
        <li>quote by place > at the start of line</li>
        <li>to add links use:</li>
        <li>[alt text](http://foo.com)</li>
        <li><span class="primary-blue">basic HTML</span> also allowed</li>
        <li><a href="https://daringfireball.net/projects/markdown/"><span class="primary-blue">formating help</span></a></li>
      </ul>
    </div>
  </div>

</div>
