<div class="row main-footer">
  <div class="static-width">

    <div class="col-md-10 col-md-offset-1 first-footer">
      <%= render 'layouts/footer_sections/main' %>
    </div>

    <div class="col-md-10 col-md-offset-1 second-footer no-padding">

      <div class="col-md-5 no-padding">

        <div class="col-md-12">
          <%= render 'layouts/footer_sections/technology' %>
        </div>

      </div>

      <div class="col-md-7 no-padding">

        <div class="col-md-3">
          <%= render 'layouts/footer_sections/life_arts' %>
        </div>

        <div class="col-md-3">
          <%= render 'layouts/footer_sections/culture_recreation' %>
        </div>

        <div class="col-md-3">
          <%= render 'layouts/footer_sections/science' %>
        </div>

        <div class="col-md-3">
          <%= render 'layouts/footer_sections/other' %>
        </div>

      </div>

    </div>

    <div class="col-md-10 col-md-offset-1 third-footer">
      <p>site design / logo © 2016 Smack Undertone Inc; user contributions licensed under <span class="copright">cc by-sa 3.0</span> with <span class="copyright">attribution required</span></p>
      <p>rev 2016.1.1.3143</p>
    </div>


  </div>
</div>