<ul class="no-list-style secondary-navbar-link-container">
  <li class="inline secondary-navbar-link"><%= link_to "Questions", questions_path, class: "link white" %></li>
  <li class="inline secondary-navbar-link"><%= link_to "Jobs", root_path, class: "link white" %></li>
  <li class="inline secondary-navbar-link"><%= link_to "Tags", root_path, class: "link white" %></li>
  <li class="inline secondary-navbar-link"><%= link_to "Users", root_path, class: "link white" %></li>
  <li class="inline secondary-navbar-link"><%= link_to "Badges", root_path, class: "link white" %></li>
  <li class="inline secondary-navbar-link"><%= link_to "Ask Question", new_question_path, class: "link white" %></li>
</ul>