<!DOCTYPE html>
<html>
  <head>
    <title>SmackUndertone</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="row main-navbar">
      <div class="static-width">

        <div class="col-md-3 col-md-offset-1">
          <%= link_to (image_tag "exchange-logo.png", class: "exchange-logo"), root_path, class: "link secondary-navbar-logo" %>
        </div>

        <div class="col-md-5 text-right main-navbar">
          <nav>
            <%= render 'layouts/main_navbar' %>
          </nav>
        </div>

      </div>
    </div>

    <div class="row secondary-navbar">
      <div class="static-width">

        <div class=" col-md-5 col-md-offset-1">
          <div class="col-md-6">
            <%= link_to (image_tag "smack-undertone-logo.png", class: "logo"), root_path, class: "link secondary-navbar-logo" %>
          </div>
        </div>

        <div class="col-md-5 text-right">
          <nav>
            <%= render 'layouts/secondary_navbar' %>
          </nav>
        </div>

      </div>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
